.overlayImg {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    pointer-events: none;
}
.hidden {
    display:none;
}
.mybutton {
    position:absolute;
    top:0px;
    left:0px;
}
.FullscreenButton {
    position: relative;
    bottom: -1020px;
    right: -1818px;
}
.canvas {
    position:absolute;
    top:0px;
    left:0px;
}