/*.overlayImg {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    pointer-events: none;
}
.hidden {
    display:none;
}
.mybutton {
    position:absolute;
    top:0px;
    left:0px;
}*/
.FullscreenButton {
    position: absolute;
    top: 50%;
    left: 50%;
}
.canvas {
    position:absolute;
    top:0px;
    left:0px;
}